<div *ngIf="getHeaderIsDisabled()" class="w-full h-20 lg:h-16 bg-[color:#748cab] flex justify-center items-center">
    <div class="w-10/12 flex justify-between items-center">
        <div class="w-full flex flex-col lg:flex-row justify-around">
            <h2 class="font-bold text-2xl text-white">Rent app</h2>
            <div class="mr-4 text-2xl text-white flex gap-5">
                <div [routerLink]="['/home']" class="hover:underline cursor-pointer">
                    <i class="ph ph-fill ph-house hover:font-bold"></i>
                    <span>Home</span>
                </div>

                <div [routerLink]="['/dashboard']" class="hover:underline cursor-pointer">
                    <i class="ph ph-fill ph-chart-pie-slice"></i>
                    <span>Dashboard</span>
                </div>

            </div>
        </div>

        <div>
            <div class="w-fit h-fit bg-gray-300 py-1 px-2 rounded-full" (click)="logout()">
                <i class="ph ph-sign-out text-2xl"></i>
            </div>
        </div>
    </div>
</div>