@media print {
    #print-dashboard {
        width: 100%;
        clear: both !important;
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
        border-radius: 1px;
        page-break-inside: auto !important;
    }
}