<div class="visible lg:invisible lg:hidden flex flex-wrap justify-center gap-3 my-3">
    <div *ngFor="let contract of constracts" [routerLink]="['../contract-information']"
        [queryParams]="{ id: contract.id }"
        class="w-11/12 p-2 mx-auto rounded-lg shadow-md bg-slate-50 border border-gray-200 text-lg flex flex-col gap-1">
        <p><span class="font-bold">Id: </span>{{ contract.id }}</p>
        <p><span class="font-bold">Contato: </span>{{ contract.contactName }}</p>
        <p><span class="font-bold">Bairro: </span>{{ contract.neighborhood }}</p>
        <p><span class="font-bold">Rua: </span>{{ contract.street }}</p>
        <p><span class="font-bold">Data final: </span>{{ contract.endDateLocate | date:'dd/MM/yyyy' }}</p>
    </div>
</div>

<div class="invisible hidden lg:visible lg:block w-10/12 mx-auto">
    <div class="w-fit my-2 relative">
        <h2 class="font-bold text-2xl">Gerenciar contratos</h2>
        <div
            class="absolute top-0 -right-6 w-5 h-5 p-1 flex justify-center items-center bg-yellow-400 rounded-full shadow-md">
            <span class="font-bold">{{ constracts.length }}</span>
        </div>
    </div>
    <table class="shadow-md">
        <thead>
            <tr>
                <th class="px-4 py-2">Identificador</th>
                <th class="px-4 py-2">Contato</th>
                <th class="px-4 py-2">Bairro</th>
                <th class="px-4 py-2">Rua</th>
                <th class="px-4 py-2">Número</th>
                <th class="px-4 py-2">Data final</th>
                <th class="px-4 py-2">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr class="">
                <td class="h-fit">
                    <input type="text" name="identifier" placeholder="Identificador"
                        (input)="filterByQuery($event, 'identifier')" class="w-full p-1 border-2 rounded-md">
                </td>
                <td class="h-fit" (input)="filterByQuery($event,'contactName')">
                    <input type="text" name="contact" placeholder="Contato" class="w-full p-1 border-2 rounded-md">
                </td>
                <td class="h-fit" (input)="filterByQuery($event, 'neighborhood')">
                    <input type="text" name="neighborhood" placeholder="Bairro" class="w-full p-1 border-2 rounded-md">
                </td>
                <td class="h-fit" (input)="filterByQuery($event, 'street')">
                    <input type="text" name="street" placeholder="Rua" class="w-full p-1 border-2 rounded-md">
                </td>
                <td class="h-fit" (input)="filterByQuery($event, 'numberHouse')">
                    <input type="text" name="numberHouse" placeholder="Número" class="w-full p-1 border-2 rounded-md">
                </td>
                <td class="h-fit" (input)="filterByQuery($event, 'endDateLocate')">
                    <input type="text" name="endDateLocate" placeholder="Data final"
                        class="w-full p-1 border-2 rounded-md">
                </td>
                <td></td>
            </tr>
            <tr class="contracts" *ngFor="let contract of results">
                <td class="border px-4 py-2">{{ contract.identifier }}</td>
                <td class="border px-4 py-2">{{ contract.contactName }}</td>
                <td class="border px-4 py-2">{{ contract.neighborhood }}</td>
                <td class="border px-4 py-2">{{ contract.street }}</td>
                <td class="border px-4 py-2">{{ contract.numberHouse }}</td>
                <td class="border px-4 py-2">{{ contract.endDateLocate | date:'dd/MM/yyyy' }}</td>
                <td class="border px-4 py-2">
                    <div class="w-full h-full flex gap-2">
                        <div [routerLink]="['../contract-information']" [queryParams]="{ id: contract.id }"
                            class="bg-gray-200 flex justify-center items-center p-2 w-10 h-10 rounded-full hover:shadow-md hover:border-2 hover:border-stone-300">
                            <i class="ph ph-bold ph-gear-six text-2xl"></i>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>